* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', system-ui, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    padding-bottom: 72px;
}

.app-header {
    background-color: #139ed0;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.app-logo{
    font-size: 50px;
}

.app-titel {
    font-size: 24px;
    font-weight: bold;
}

select {
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    align-items: right;
    display: flex;
}

.cards {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.Bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #139ed0;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.Bottom-nav a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nav-icon {
    font-size: 24px;
    align-self: center;
}

