* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', system-ui, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    padding-bottom: 72px;
}

.app-header {
    background-color: #139ed0;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.app-logo {
    font-size: 50px;
}

.app-titel {
    font-size: 24px;
    font-weight: bold;
}

select {
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    display: flex;
}

/* ====== MIDDEN (PAGINA CONTENT HIER) ====== */




.Bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #139ed0;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.Bottom-nav a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-icon {
    font-size: 24px;
    align-self: center;
}

.Bottom-nav a.active {
    color: #000000;
    font-weight: bold;
}